[package]
name = "volume-example"
version = "0.1.0"
edition = "2021"

[[bin]]
name = "server"
path = "src/server.rs"

[[bin]]
name = "cli"
path = "src/cli.rs"

[dependencies]
nexus = { path = "../../nexus" }
tokio = { version = "1", features = ["full"] }
async-trait = "0.1"
anyhow = "1"
